@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

nav {
    color: rgb(2, 32, 32);
    font-size: medium;
    list-style: none;
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

ul li a {
    color: #9fe1ff;
    letter-spacing: 0.1rem;
}

ul li a:hover {
    color: #1e3c72;
}

.liste-navigation li {
    padding: 0;
    text-align: center;
    margin: 0;

}

.liste-navigation a {
    margin-right: 20px;

}

body {
    margin: auto;
    padding: 0%;
    text-align: center;
    font-weight: normal;
    font-family: "Playfair Display", serif;

}

html {
    background-color: #9fe1ff;
    font-size: 1em;

}

.style {
    color: #9fe1ff;
    text-align: center;
}

.banniere {
    width: 1000px;
    height: 300px;
    margin: auto;
    padding: 12px;
    display: block;
    border: 5px solid;
    border-color: #6f88b3;
    border-radius: 15px;
    background: linear-gradient(to top, #1e3c72, #2a5298, #a1c4fd);
}

form {
    justify-content: center;
    width: 500px;
    margin: auto;
}

.soft-skill {

    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    overflow: hidden;
    padding: 15px;
    background-color: #74b8df;
    border-radius: 5%;
    margin: 10px;
}

.soft-skills {
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.soft-skill-image {
    height: 200px;
}

.envoi {
    background-color: #0553da;
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 5px;
    border-color: #0553da;
}

.block {
    text-align: center;
}

.index {
    display: flex;
    align-items: center;
    padding: 30px;

}

.presentation {
    border-radius: 20%;
    box-sizing: border-box;
    background-color: #1e3c72;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.projet {
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    overflow: hidden;
    padding: 15px;
    margin: 10px;
}

.bloc {
    text-align: center;
}